//フォームラベル用
$required:#ea352d; //必須：赤
$optional:#ccc; //任意：灰色


//フォームボタン用
$default_color:#ea352d; //サイトのデフォルトカラー
$unused_color:#ccc; //グレイアウトカラー
$auth_color:#0099e8; //認証関連カラー
$facebook_color:#385185; //facebookボタン専用カラー
$unspecified_color:#fff; //指定なし（白色）

//プログレスバー用
$active_color:#ea352d;