.sub-header-step
  %h1.sub-header-step__logo
    = link_to '#' do
      = image_tag 'common/logo.svg'
  %nav.sub-header-step__stepper
    %ol
      %li.sub-header-step__stepper__progress.passed
        会員情報
        .sub-header-step__stepper__progress__status.first
      %li.sub-header-step__stepper__progress.passed
        電話番号認証
        .sub-header-step__stepper__progress__status
      %li.sub-header-step__stepper__progress.active
        お届け先住所入力
        .sub-header-step__stepper__progress__status
      %li.sub-header-step__stepper__progress
        支払い方法
        .sub-header-step__stepper__progress__status
      %li.sub-header-step__stepper__progress
        完了
        .sub-header-step__stepper__progress__status.last
      