.user-main__contents__form.single-panel
  .user-main__contents__form__group
    %label.user-main__contents__form__group__item{for:"auth_code"}
      認証番号
    %span.user-main__contents__form__group__item--required
      必須
    = telephone_field_tag :auth_code, '', class:'user-main__contents__form__group__item__input', placeholder:'認証番号を入力', autofocus: true, required: true
    %p.user-main__contents__form__group__confirm-text
      SMSで届いた認証番号を入力してください
    .user-main__contents__form__group
      =link_to users_sign_up_address_path, class:'user-main__contents__form__group__btn--default' do
        認証して完了
.user-main__contents__form--footer
  .user-main__contents__form__group
    %p.user-main__contents__form__group__confirm-text--bold
      30秒たっても認証番号が届かない方へ
    %p.user-main__contents__form__group__confirm-text
      電話で認証番号を聞くこともできます。
  .user-main__contents__form__group
    =link_to '#', class:'user-main__contents__form__group__btn--default' do
      電話で認証番号を開く（無料通話）
.user-main__contents__form--footer
  .user-main__contents__form__group
    %p.user-main__contents__form__group__confirm-text--bold
      認証番号を再送することもできます。もう一度電話番号を入力して下さい。
    = link_to '#', class:'user-main__contents__form__group__confirm-text--link' do
      電話番号を再度入力する
    %p.user-main__contents__form__group__confirm-text
      ※SMSが届かない場合は
      = link_to '#', class:'user-main__contents__form__group__confirm-text--link' do
        SMS受信設定
      を確認して、もう一度電話番号を入力してください。