.wrapper
  =render 'products/header'
  .user-main.sidebar
    .user-main__contents__side-bar
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit
        プロフィール
      = render 'profile_form_2'
  =render 'products/footer-top'
  =render 'products/footer-bottom'
