.wrapper
  =render 'products/header'
  - breadcrumb :edit_payment_2
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'side-bar/edit_payment'
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit.form-underline
        クレジットカード情報入力
      = render 'payment_form_edit_2'
  =render 'products/footer-top'
  =render 'products/footer-bottom'