.wrapper
  =render 'products/header'
  - breadcrumb :edit_telephone_auth
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'users/side-bar'
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit.form-underline
        電話番号認証
      =render 'telephone_auth_form_2'
  =render 'products/footer-top'
  =render 'products/footer-bottom'