.wrapper
  =render 'products/header'
  - breadcrumb :edit_password
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'side-bar/edit_password'
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit.form-underline
        メール/パスワード
      = render 'email_password_form'
  =render 'products/footer-top'
  =render 'products/footer-bottom'