.wrapper
  =render 'products/header'
  - breadcrumb :edit_profile
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'side-bar/edit_profile'
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit
        プロフィール
      = render 'profile_form_2'
  =render 'products/footer-top'
  =render 'products/footer-bottom'
