.wrapper
  =render 'products/header'
  .user-main.sidebar
    = render 'users/side-bar'
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit.form-underline
        支払い方法
      - if false
        = render 'payment_show'
      - else
        = render 'payment_form_edit_1'
  =render 'products/footer-top'
  =render 'products/footer-bottom'