.wrapper
  =render 'products/header'
  - breadcrumb :edit_password
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'users/side-bar'
    .user-main__contents.edit-form
      %h2.user-main__contents__title-edit.form-underline
        確認メールを送信しました。
      .user-main__contents__form.single-panel
        .user-main__contents__form__group
          %p.text-center
            %span.background--gray
              = session[:change_email] 
            に確認メールを送信しました。メール内のURLをクリックして変更を完了してください。
  =render 'products/footer-top'
  =render 'products/footer-bottom'