.wrapper
  =render 'sub_header_stepper_2'
  .user-main
    .user-main__contents.registration-form
      %h2.user-main__contents__title
        電話番号認証
      =render 'telephone_auth_form'
  =render '/layouts/sub_footer'