.wrapper
  =render 'sub_header_stepper_1'
  .user-main
    .user-main__contents.registration-form
      %h2.user-main__contents__title
        会員情報入力
      =render 'profile_form'
  =render '/layouts/sub_footer'