.wrapper
  =render 'sub_header_stepper_3'
  .user-main
    .user-main__contents.registration-form
      %h2.user-main__contents__title
        発送元・お届け先住所入力
      =render 'address_form'
  =render '/layouts/sub_footer'