.wrapper
  =render 'sub_header_stepper_5'
  .user-main
    .user-main__contents.registration-form
      %h2.user-main__contents__title
        会員登録完了
      =render 'complete_form'
  =render '/layouts/sub_footer'