.wrapper
  =render 'sub_header_stepper_4'
  .user-main
    .user-main__contents.registration-form
      %h2.user-main__contents__title
        支払い方法
      =render 'payment_form'
  =render '/layouts/sub_footer'