%p
  = "#{@user.nickname}さん"
  %br
  %br
  freemaket.sample.d56にご登録いただきありがとうございます。
  %br
  会員登録が完了しました。
  %br
  %br
  Webページを開く
  %br
  http://localhost:3000
  %br
  %br
  ※このメールは返信しても届きません。
  %br
  お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。
  %br
  %br
  ■ご登録の覚えがないのにこのメールが届いたという方
  %br
  ご迷惑をおかけし申し訳ありません。以下のリンクより、このメールアドレスへの送信を停止してください。
  %br
  ☆ 未実装なのでリンクはありません ☆