= "#{@user.nickname}さん"

freemaket.sample.d56にご登録いただきありがとうございます。
会員登録が完了しました。

Webページを開く
http://localhost:3000

※このメールは返信しても届きません。
お問い合わせはアプリを起動して「お問い合わせ」からお願いいたします。

■ご登録の覚えがないのにこのメールが届いたという方
ご迷惑をおかけし申し訳ありません。以下のリンクより、このメールアドレスへの送信を停止してください。
☆ 未実装なのでリンクはありません ☆