.wrapper
  =render 'products/header'
  - breadcrumb :notice_index
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'users/side-bar'
    = render 'notice-list'
  =render 'products/footer-top'
  =render 'products/footer-bottom'