.side-bar
  %ul.user-menu
    %li
      マイページ
      = icon 'fas','angle-right'
    %li
      お知らせ

    %li
      やることリスト

    %li
      いいね！一覧

    %li
      出品する

    %li
      出品した商品-出品中

    %li
      出品した商品-取引中

    %li
      出品した商品-売却済み

    %li
      購入した商品-取引中

    %li
      購入した商品-過去の取引
