.wrapper
  =render 'products/header'
  .mypage
    =render 'side-bar'
    .mypage__main
      .mypage__main__header
        = image_tag 'mypage-background.jpg', height: '200px', width: '700px', class: 'mypage-background'
        .mypage__main__header__contents
          =image_tag 'icon.png', height: '60px', width: '60px', class: 'user-avater'
          %h3
            user-name
          .my-page__main__header__contents__number
            .my-page__main__header__contents__number__rading
              評価
              %span
                4
            .my-page__main__header__contents__number__products
              出品数
              %span
                10
      .mypage__main__contents
        %ul.mypage__main__contents__nav
          %li
            お知らせ
          %li
            やることリスト
        .mypage__main__contents__content
          .mypage__main__contents__content__image
            =image_tag 'icon.png', height: '40px', width: '40px'
          .mypage__main__contents__content__text
            事務局から個別メッセージ「【新機能の紹介】商品画面で値引き可能かどうかを表示できるようになりました！」
          .mypage__main__contents__content__time
            = icon 'far','clock'
            %p
              00:00
          
      
      
      
      .mypage__main__trade


  =render 'products/footer-top'
  =render 'products/footer-bottom'