@import 'mixin/crearfix';

.category-search-view {
  height:   300vh;
  background: #F5F5F5;
  padding: 3% 0 10% 15%;
  &__products {
    width: 80%;
    float: left;
    &__heading {
      padding-left: 20px; 
    }
    .hit-count {
      margin-top: 20px;
      font-size: 10px;
      color: #8A8A8A;
    }
    p {
      margin-left: 20px; 
    }
  }
}