.buy {
  background-color: #f5f5f5;
  min-height: 100vh;
  max-width: 100vw;
  color: #333333;
  font-size: 16px;
  &__header {
    height: 128px;
    width: 100%;
  }
  &__main {
    &__contents{
      width: 700px;
      margin:0 auto;
      background-color: #ffffff;
      h2 {
        padding: 16px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
      }
      &__item {
        padding: 25px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        &__info{
          display: flex;
          flex-wrap: wrap;
          max-width: 320px;
          margin: 0 auto;
          &__image {
            float: left;
          }
          &__name {
            display: block;
            width: calc(100% - 150px);
            margin: 0 0 0 16px;
            text-align: left;
            font-size: 16px;
            font-weight: bold;
          }
          &__form {
            width: 100%;
            text-align: center;
            p {
              margin: 8px auto 0;
              line-height: 1.5;
              display: block;
              font-size: 22px;
              font-weight: bold;
              text-align: center;
              span {
                font-size: 12px;
                font-weight: normal;
              }
            }
            &__price {
              display: table;
              width: 100%;
              height: 60px;
              margin: 8px 0 0;
              font-size: 22px;
              font-weight: bold;
              &__tag {
                display: table-cell;
                text-align: left;
                padding:16px 0;
                font-size: 0.8em;
              }
              &__data {
                display: table-cell;
                text-align: right;
              }
            }
            &__btn {
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              background: #ea352e;
              border: 1px solid #ea352e;
              color: #fff;
            }
          }
        }
      }
      &__user-address {
        padding: 25px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        margin-top: 40px;
        font-size: 14px;
        &__info {
          display: flex;
          flex-wrap: wrap;
          max-width: 320px;
          margin: 0 auto;
          h3 {
            width: 100%;
            display: block;
          }
          &__text {
            width: 100%;
            display: block;
          }
          &__edit {
            width: 100%;
            display: block;
            color: #0099E8;
            text-decoration: none;
            text-align: right;
          }
        }
      }
      &__user-card {
        font-size: 14px;
        padding: 25px 12.5% 40px;
        border-top: 1px solid #f5f5f5;
        margin-top: 40px;
        &__info {
          display: flex;
          flex-wrap: wrap;
          max-width: 320px;
          margin: 0 auto;
          h3 {
            width: 100%;
            display: block;
          }
          &__text {
            width: 100%;
            display: block;
          }
          &__edit {
            width: 100%;
            display: block;
            color: #0099E8;
            text-decoration: none;
            text-align: right;
          }
        }
      }
    }
  }
}
