@import 'mixin/crearfix';

.result-view {
  height:   300vh;
  background: #F5F5F5;
  padding: 3% 0 10% 15%;
  &__side-bar{
    height: 100vh;
    width: 28%;
    float: left;
    &__header{
      height: 50px;
      input {
        width: 80%;
        height: 50px;
        background: url(/images/common/down-arrow.ico) 95% no-repeat;
        background-color: white;
        background-size: 14px;
        border-radius: 4px;
        border: solid 1px #ccc;
        color: black;
        cursor: pointer;
        margin-bottom: 30px;
        padding-left: 10px; 
        -webkit-appearance: none;
      }
    }
    &__footer {
     background: white;
     width: 75%;
     margin-top: 30px;
     padding: 5%;
     input {
      width: 95%;
      height: 50px;
      background: url(/images/common/down-arrow.ico) 95% no-repeat;
      background-color: white;
      background-size: 14px;
      border-radius: 4px;
      border: solid 1px #ccc;
      color: black;
      cursor: pointer;
      margin-bottom: 30px;
      padding-left: 10px; 
      -webkit-appearance: none;
     }
    }
  }
  &__products {
    width: 60%;
    float: left;
    .hit-count {
      margin-top: 20px;
      font-size: 10px;
      color: #8A8A8A;
    }
    p {
      margin-left: 20px; 
    }
  }
}
// .result-view__products__list__a{
// background: #F5F5F5;
//    padding: 3% 17% 5% 17%;

//    padding: 1% 0 1% 0;
//       display: flex;
//       flex-wrap: wrap;
//       img {
//         height: 160px!important;
//         width: 160px!important;
//       }
// }