.side-bar {
  display: block;
  width: 280px;
  margin-right: 40px;
  .side-bar__user-menu {
    ul {
      background-color: #FFFFFF;
      h3 {
        background-color: #f5f5f5;
        padding: 40px 0 5px;
        font-size: 16px;
        font-weight: bold;
      }
      li {
        border-bottom: 1px solid #f5f5f5;
        .side-bar__links {
          text-decoration: none;
          color:#333;
          font-size: 14px;
          margin: 0;
          padding-left: 20px;
          height: 48px;
          width: 260px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__icon {
            padding-right: 20px;
            transition: all ease-out .2s;
            color: #ccc;  
          }
        }
        .selected{
          font-weight:bold;
          background-color:#eee;
        }  
      }
      li:hover,li>i:hover{
        background-color: #f1f1f1;
        a{
          i{
            color:#333;
          }
        }
      }
    }
  }
}