@import "config/variable";
@import "mixin/form";
.wrapper{
  background-color:#f5f5f5;
  //ユーザフォーム全般で使用
  .user{
    color:#333;
    display:flex;
    width:1020px;
    margin: 40px auto 0;
    padding: 0 0 40px;
    &-profile{
      margin:0 auto;
      background-color:#fff;
      width:700px;
      h2 {
        @include form_headline(10px);
        border-bottom: 2px solid #F5F5F5;
      }
      &__area {
        padding: 10% 10%;
        li {
          list-style: none;
        }
        &__info {
          font-size: 14px;
          p {
            margin-bottom: 2px;
            display: block;
          }
          a {
            color: #0099E8;
            text-decoration: none;
            float: right;
          }
        }
      }
      &__name {
        @include font;
      }
      &__kananame {
        @include font;
      }
      &__birthday {
        @include font;
        li {
          font-size: 12px!important;
        }
      }
        &__contents{
          margin-top: 5%;    
          .regist-btn {
            display:block;
            width:100%;
            font-size:14px;
            line-height:48px;
            margin: 7% 0 7% 0; 
            text-align:center;
            text-decoration:none;
            background: #EB352E;
            color: white;
          }
        }
      //入力フィールドフォーカス時の挙動を本家に合わせて変更
      input:focus,textarea:focus{
        outline: 0;
        border-color:#0099e8;
        background-color:#fff;
      }
      //numberタグのスピンボタン非表示
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }  
      //selectフィールドのボタン、フォーカスなどを挙動を本家に合わせて変更
      //デフォルトのドロップダウンボタンを無効化
      select,textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      //selectのデフォルトCSSを変更
      select{
        margin: 8px 0 0;
        padding: 10px 10px 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        background-color: white;
      }      
      //フォーカス時の挙動を本家に合わせて変更
      select:focus {
        outline: 0;
        border-color:#0099e8;
        background-color:#fff;
      }
      //date_selectのデフォルトCSSを変更
      //年月日用
      .year,.month,.day{
        @include form_select(76px,48px,85%);
      }
      //ポスト
      .postal-code-input{
        @include form_select(100%,48px,95%);
      }
    }
  }
}
