@import "mixin/arow";
@import 'mixin/sold-out';

.products {
   &--heading {
      height: 400px;
      background: #ECEBE9;
      text-align: center;
      a {
         text-decoration: none;
      }
      &__backimage {
         position: absolute;
      }
      &__wrapper {
         display: flex;
         position: relative;
         text-align: left;
         &__text {
            margin: 2.5% 0 0 20%;
            .dllink-image {
               margin: 3% 0 0 1%;
            }
            a:hover {
              opacity: 0.7;
            }        
            h1 {
               font-size: 60px;
               font-weight: bold;
               text-align: left;
            }
            p {
               margin-top: 10px;
               font-size: 18px;
              }           
         }
      }
   }
}


.arrow{
   display: inline-block;
   padding-left: 20px;
   &::before{
      @include arow;
      left: 93%;
      transform: rotate(45deg);
   }
}

.arrow-second {
   display: inline-block;
   padding-left: 20px;
   &::before{
      @include arow;
      left: 5%;
      transform: rotate(225deg);
   }
}

.circle-wrapper {
  display: flex;
  position: absolute;
  top: 475px;
  left: 650px;
  .circle {
    height: 15px;
    width: 15px;
    margin-left: 15px;
    background: #F4F3F2;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}

.item {
   background: #F5F5F5;
   padding: 3% 25% 5% 17%;
   a {
      text-decoration: none;
      cursor: pointer;
   }
   &--heading {
     text-align: center;
     h1 {
        margin-left: 10%;
       font-size: 27px;
       font-weight: bold;
       }
   }
   a {
      margin: 0!important;
   }
   &--new {
      margin-top: 1.5%;
      text-align: center;
      a {
         color: #0099E9;
         text-decoration: none;
         font-size: 22px;
         font-weight: bold;
         margin-left: 10%!important;
        }
   }
   &--list {
      padding: 1% 0 1% 0;
      display: flex;
      &__image {
         margin: 10px 5px 0 20px;
         background-color: white;
         img {
            height: 200px;
            width: 210px;
            position: absolute;
            z-index: 1;
         }
         &__sold-out {
            position: absolute;
            z-index: 100000;
            padding-top: 20px;
            transform: rotate(-45deg);
            font-size: 20px;
            color:#ffffff;
            font-weight: bold;
            &__tag {
              position: absolute;
              z-index: 1000;
              height: 0px;
              width: 0px;
              @include sold-out-tag(50px);
            }
          }
         &__text {
            height: 100px;
            width: 210px;
            margin-top: 200px;
            word-break: break-all;
            background-color: white;
            position: relative;
            a {
               color: black;
               font-size: 15px;
               display: block;
               font-weight: normal;
               text-decoration: none;
               padding: 0 10px; 
               top: 0;
               left: 0;
               width: 90%;
            }
            &__wrapper {
              display: flex;
              p {
                 margin: 50px 0 0 10px;
                 width: 80px;
                 font-size: 13px;
                 font-weight: bold;
              }
              i {
                 margin: 50px 0 0 70px;
                 color : gray
              }
              span {
                 margin: 50px 0 0 5px;
                 font-size: 14px;
              }
              &__like {
               display: flex;

              }
          }
       }
   }
 }
}

.item-show {
   text-align: right;
   width: 100%;
   margin-left: 100px;
   a {
     color: #1F9DE9;
     font-size: 14px;
   }
 }