.wrapper {
  background-color: #f5f5f5;
  color: #333333;
  width: 100vw;
  .mypage {
    margin: 40px 8% 0;
    padding-bottom: 40px;
    &__main {
      width: 700px;
      float: left;
      background-color: aqua;
    }
  }
}
