=render 'header'
= render "layouts/breadcrumbs"
.item
  .item--heading
    %h1 ピックアップカテゴリー
    .item--new
      = link_to "全ての商品" 
  .item--list
    = render 'all_products'
=render 'footer-top'
=render 'footer-bottom'
