//formパーツのCSSパーツ
//ヘッダ設定
@mixin form_headline($padding){
  padding:$padding;
  font-size:22px;
  font-weight: bold;
  text-align:center;
}

//テキストフィール設定
@mixin form_input(){
  box-sizing: border-box;
  height: 48px;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
}

//フォームテキスト設定
@mixin form_text($font_size){
  margin: 8px 0 0;
  font-size:$font_size;
  line-height: 1.5;
}

//フォームラベル設定（必須／任意）
@mixin form_label($color){
  vertical-align: top;
  margin: 0 0 0 8px;
  padding: 3px 4px;
  color:#fff;
  font-size: 12px;
  background-color:$color;
  border-radius: 2px;
}

//selectタグ設定
@mixin form_select($width,$height,$position){
  width:$width;
  height:$height;
  background:url(/images/common/down-arrow.ico) $position no-repeat;
  background-size:14px;
}

//ボタン設定
@mixin form_button($color,$radius,$effective){
  position:relative;
  display:block;
  width:100%;
  max-width:343px;
  margin:0 auto;
  font-size:14px;
  line-height:48px;
  text-align:center;
  text-decoration:none;
  //第３引数に1が設定された場合のみ後続のCSSを設定する
  @if $effective == 1{
    background-color:$color;
    border-radius:$radius;
    @if $color==$unspecified_color{
      color:#333;
    }@else{
      color:#fff;
    }
  }
}

//ボタンホバー設定
@mixin form_button_hover(){
  &:hover{
    opacity:0.5;
  }
}

//ボタンアイコン表示設定
@mixin form_button_icon($font-size){
  position: absolute;
  top:20%;
  left:16px;
  font-size:$font-size;
}

@mixin font(){
  p {
    font-size: 14px;
    font-weight: bold;
    margin: 10% 0 1% 0;
  }
  li {
    font-size: 14px;
  }
}