// 対象：購入者・出品者 内容：発送待ち画面
.trade-main__contents
  .trade-main__contents__attention
    .trade-main__contents__attention--headline
      = icon 'fas fa-3x','check'
      %h2
        取引が完了しました
    .trade-main__contents__attention--text
      このたびはメルカリのご利用ありがとうございました