.wrapper
  =render 'products/header'
  - breadcrumb :close_index
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'side-bar/active_trade-list'
    = render 'close_trade-list'
  =render 'products/footer-top'
  =render 'products/footer-bottom'