.wrapper
  =render 'products/header'
  - breadcrumb :sales_amount_list
  = render "layouts/breadcrumbs"
  .user-main.sidebar
    = render 'side-bar/sales_amount'
    = render 'sales_amount_list'
  =render 'products/footer-top'
  =render 'products/footer-bottom'