.wrapper
  =render 'products/header'
  - breadcrumb :trade_show
  = render "layouts/breadcrumbs"
  .trade-show
    = render 'side-bar'
    = render 'trade-main'
  =render 'products/footer-top'
  =render 'products/footer-bottom'